body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header*/
.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1F2937;
}

.upper-header , .lower-header{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 100px;
}

.upper-header .links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-text {
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9faf8;
    font-weight: bold;
}

.lower-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lower-header .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.lower-header .secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.lower-header .info .main-text, .secondary-text, .picture{
    margin: 10px 0;
}

.main-logo {
    height: 250px;
    width: 520px;
}

.info, .picture {
    max-width: 520px;
}
/*Information*/

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upper-info {
    display: flex;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 50px;
}

.lower-info {
    display: flex;
    gap: 45px;
    margin-bottom: 100px;
}

.info-pic {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.logo-text {
    text-align: center;
}

.info-logo {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

/*Quote*/

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 10px;
}

.quote-text {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-name {
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}

/*Action*/

.action {
    background-color: white;
    padding: 100px;
}
.action-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    padding: 50px 0;
    border-radius: 10px;
    margin: 0 50px;
}

.left-info {
    display: flex;
    flex-direction: column;
}

.text-upper {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
}

.text-lower {
    color: #E5E7EB;
}

.right-info {
    display: flex;
}

.action-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
}

/*Footer*/
.footer {
    background-color: #1F2937; 
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 18px;
}